h1 {
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 48px;
}
body{
    font-size: 16px;
}
.li1 {
    font-style: italic;
    background-color: yellow;
    text-align: center;
    line-height: 60px;
}
.li2{
    font-style: oblique;
    background-color: red;
    text-align: end;
    line-height: 60px;
}
.li3{
    font-style: initial;
    background-color: brown;
    text-align: justify;
    line-height: 60px;

}